-if (typeof(message) !== 'undefined')
	h3 #{message}
- else	
	h3 Welcome to Shock.
br
-if (typeof(columns) !== 'undefined' && typeof(rows) !== 'undefined')	
	table(id='items')
		thead
			tr
				- each c in columns
					th= c
		tbody
			- each row in rows
				tr
					- each item in row
						td(style="width:160px;")= item
		:javascript
			| $(document).ready(function() {
			|	$('#items').dataTable( {"bJQueryUI": true,	"sPaginationType": "full_numbers"} );
			| } );